fastapi
uvicorn
Flask==3.0.0
gunicorn==21.2.0
pandas==2.1.2
joblib==1.3.2
prophet==1.1.5
scikit-learn==1.3.0
scipy==1.11.3
seaborn==0.12.2
Werkzeug==3.0.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
